.main{
  margin-top: 40px;
}

.player-details-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.player-card{
  background-color: rgb(206, 17, 65);
  color: white !important;
  padding: 15px 0px 15px 0px;
}
.player-card .card-text{
  color: white !important;
}

.player-tabs {
  margin-bottom: 10px;
}

.tab-content {
  margin-top: 10px;
}

.table-label {
  font-weight: bold;
}

.player-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .player-image {
    width: 150px;
    height: 150px;
  }
}
